table {
    width: 100%;
    margin: 15px 0;

    tr {
        &:nth-child(odd) {
            td {
                background-color: #ccc;
            }
        }
        &.highlight {
            &:nth-child(odd) td {
                background-color: rgba(63, 81, 181, 1);
            }
            td {
                background-color: rgba(63, 81, 181, 0.5);
                &, a {
                    color: #fff;
                }
                a:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}
.error {
    margin: 50px 0;
    text-align: center;
}
