body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: url(assets/background.png) repeat;
}

h1 {
    text-align: center;
}

a {
    color: #000;
    &, &:hover, &:focus, &:active {
        text-decoration: none;
    }
    &:hover {
        color: #999;
    }
}

mat-spinner {
    margin: 50px auto;
}
